<ion-header>
  <ion-toolbar class="bg-black flex flex-col items-center">
    <ion-title class="text-white text-center italic font-bold">
      Elite Cars
    </ion-title><br><br>
    <p class="text-gray-400 italic text-sm text-center mt-2">
      Une expérience client exceptionnelle.
    </p>
  </ion-toolbar>
</ion-header>

<!-- Boutons filtres -->
<div class="bg-black flex justify-center gap-4 py-4">
  <ion-button id="open-type" fill="outline color-white" shape="round" class="text-white border-gray-600">
    Véhicule
  </ion-button>
  <ion-button id="open-marque" fill="outline" shape="round" class="text-white border-gray-600">
    Marque
  </ion-button>
  <ion-button id="open-prix" fill="outline" shape="round" class="text-white border-gray-600" >
    Prix
  </ion-button>
</div>

<ion-content class="bg-black">
  <div class="p-6 bg-black">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div
        *ngFor="let car of filteredCars"
        class="bg-black-900 rounded-lg overflow-hidden cursor-pointer transform transition-transform hover:scale-105 relative"
        (click)="onCarClick(car)"
      >
        <img [src]="car.image" [alt]="car.name" class="w-full h-40 object-cover" />
        <div class="p-4">
          <p class="text-gray-300 text-lg font-semibold mb-2 text-right">{{ car.options }}</p>
          <h3 class="text-lg font-semibold text-white">{{ car.name }}</h3>
          <p class="text-yellow-500 font-bold text-lg">{{ car.price.toLocaleString() }} CFA / Jour</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- Modal Type de véhicule -->
<ion-modal #modalType trigger="open-type" [initialBreakpoint]="0.75" [breakpoints]="[0,0.5,0.75,1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Type de véhicule</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalType.dismiss()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="bg-gray-900 text-white">
      <div class="p-4">
        <ion-radio-group [(ngModel)]="selectedType">
          <ion-list>
            <ion-item *ngFor="let type of typesVehicules" (click)="selectType(type)">
              <ion-radio slot="start" [value]="type" color="primary"></ion-radio>
              <ion-label class="text-white text-lg">{{ type }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Marques -->
<ion-modal #modalMarque trigger="open-marque" [initialBreakpoint]="0.75" [breakpoints]="[0,0.5,0.75,1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Marque</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalMarque.dismiss()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="bg-gray-900 text-white">
      <div class="p-4">
        <ion-radio-group [(ngModel)]="selectedMarque">
          <ion-list>
            <ion-item *ngFor="let marque of marques" (click)="selectMarque(marque)">
              <ion-radio slot="start" [value]="marque" color="primary"></ion-radio>
              <ion-label class="text-white text-lg">{{ marque }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Prix -->
<ion-modal #modalPrix trigger="open-prix" [initialBreakpoint]="0.75" [breakpoints]="[0,0.5,0.75,1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Prix</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalPrix.dismiss()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="bg-gray-900 text-white">
      <div class="p-4">
        <ion-radio-group [(ngModel)]="selectedPrix">
          <ion-list>
            <ion-item *ngFor="let prix of prixs" (click)="selectPrix(prix)">
              <ion-radio slot="start" [value]="prix" color="primary"></ion-radio>
              <ion-label class="text-white text-lg">{{ prix.toLocaleString() }} CFA</ion-label>
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
